<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Reservas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/stylesHistorial.css' %}">
</head>
<body>
    <div class="container">
        <h1>Historial de Reservas</h1>
        <p>Aquí puedes ver todas tus reservas anteriores.</p>
        <ul class="historial-list">
            {% for pago in pagos %}
                <li>
                    <div class="historial-item">
                        <div class="info">
                            <p class="details">Vuelo de <strong>{{ pago.origen }}</strong> a <strong>{{ pago.destino }}</strong></p>
                            <p class="amount">Monto: <strong>${{ pago.monto }}</strong></p>
                        </div>
                        <a href="{% url 'recivo' pago.id %}" class="download-link">Descargar Factura</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
